
<ion-content>
  <div class="container">
<strong>About Me</strong>
<ion-card>
  <ion-card-content>
    Hello my name is Ray Angelo G. Laylo, or you could just simply call me Ray.
    I was born on April 25, 2000.
    I am currently a studying BSIT course in Batangas State University and I am in my 4th year.
    I enjoy playing online games, team sports, and specific kinds of musical instruments.
  </ion-card-content>
</ion-card>
</div>
<div class="footer">

  <ion-button color="light" routerLink="/home">Home</ion-button>
  <ion-button color="light" routerLink="/aboutme" >About Me</ion-button>
  <ion-button color="light" routerLink="/contact">Contact</ion-button>

</div>


</ion-content>
